<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Easy_Canteen_Manager.My.MySettings.NetworkPos" connectionString="server=192.168.100.20; Database=PoS; User ID= sa; Password=10062642;MultipleActiveResultSets=True;Connect Timeout=30" />
        <add name="Easy_Canteen_Manager.My.MySettings.netpos2" connectionString="server=kissi; Database=PoS; User ID= sa; Password=kissboy;MultipleActiveResultSets=True;Connect Timeout=30" />
        <add name="Easy_Canteen_Manager.My.MySettings.PoSConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PoS.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>